/*animation.css*/
/** GENERAL **/
/** ANIMATION **/
.will-fade {
  -webkit-transition: opacity 1s;
  -moz-transition:    opacity 1s;
  -ms-transition:     opacity 1s;
  -o-transition:      opacity 1s;
  transition:         opacity 1s;

  opacity: 0;
}
.fade, .not-supported .will-fade {
  opacity: 1;
}


/*!
 * jmpress.js v0.4.5
 * http://jmpressjs.github.com/jmpress.js
 *
 * A jQuery plugin to build a website on the infinite canvas.
 *
 * Copyright 2013 Kyle Robinson Young @shama & Tobias Koppers @sokra
 * Licensed MIT
 * http://www.opensource.org/licenses/mit-license.php
 *
 * Based on the foundation laid by Bartek Szopka @bartaz
 */.will-appear {
  opacity: 0;
}

.do-appear {
  opacity: 1;
}


.will-drive-right, .will-drive-left {
  position: relative;

  -webkit-transition: opacity 0.6s, left 1s;
  -moz-transition:    opacity 0.6s, left 1s;
  -ms-transition:     opacity 0.6s, left 1s;
  -o-transition:      opacity 0.6s, left 1s;
  transition:         opacity 0.6s, left 1s;

  opacity: 0;
}
.will-drive-right {
  left: -300px;
}
.will-drive-left {
  left: 300px;
}
.will-drive-down, .will-drive-up {
  position: relative;

  -webkit-transition: opacity 0.6s, top 1s;
  -moz-transition:    opacity 0.6s, top 1s;
  -ms-transition:     opacity 0.6s, top 1s;
  -o-transition:      opacity 0.6s, top 1s;
  transition:         opacity 0.6s, top 1s;

  opacity: 0;
}
.will-drive-down {
  top: -300px;
}
.will-drive-up {
  top: 300px;
}

.do-drive-up, .do-drive-down {
  opacity: 1;
  top: 0px;
}
.do-drive-right, .do-drive-left {
  opacity: 1;
  left: 0px;
}

.will-expand {
  -webkit-transition: all 1s;
  -moz-transition:    all 1s;
  -ms-transition:     all 1s;
  -o-transition:      all 1s;
  transition:         all 1s;

  opacity: 0;

  -webkit-transform: translate3d(0,0,1px) scale(0.7,1);
  -moz-transform:    translate3d(0,0,1px) scale(0.7,1);
  -ms-transform:     translate3d(0,0,1px) scale(0.7,1);
  -o-transform:      translate3d(0,0,1px) scale(0.7,1);
  transform:         translate3d(0,0,1px) scale(0.7,1);
}

.do-expand {
  opacity: 1;

  -webkit-transform: translate3d(0,0,1px) scale(1,1);
  -moz-transform:    translate3d(0,0,1px) scale(1,1);
  -ms-transform:     translate3d(0,0,1px) scale(1,1);
  -o-transform:      translate3d(0,0,1px) scale(1,1);
  transform:         translate3d(0,0,1px) scale(1,1);
}

.has-expand {
  -webkit-transform: none;
  -moz-transform:    none;
  -ms-transform:     none;
  -o-transform:      none;
  transform:         none;
}


.will-fade {
  -webkit-transition: opacity 1s;
  -moz-transition:    opacity 1s;
  -ms-transition:     opacity 1s;
  -o-transition:      opacity 1s;
  transition:         opacity 1s;

  opacity: 0;
}
.will-fade-slow {
  -webkit-transition: opacity 2s;
  -moz-transition:    opacity 2s;
  -ms-transition:     opacity 2s;
  -o-transition:      opacity 2s;
  transition:         opacity 2s;

  opacity: 0;
}
.will-fade-fast {
  -webkit-transition: opacity 0.5s;
  -moz-transition:    opacity 0.5s;
  -ms-transition:     opacity 0.5s;
  -o-transition:      opacity 0.5s;
  transition:         opacity 0.5s;

  opacity: 0;
}

.do-fade, .do-fade-slow, .do-fade-fast {
  opacity: 1;
}


.will-warp-right, .will-warp-left {
  position: relative;

  -webkit-transition: opacity 0.2s, left 0.5s ease-in-out;
  -moz-transition:    opacity 0.2s, left 0.5s ease-in-out;
  -ms-transition:     opacity 0.2s, left 0.5s ease-in-out;
  -o-transition:      opacity 0.2s, left 0.5s ease-in-out;
  transition:         opacity 0.2s, left 0.5s ease-in-out;

  opacity: 0;
}
.will-warp-right {
  left: -600px;
}
.will-warp-left {
  left: 600px;
}
.will-warp-down, .will-warp-up {
  position: relative;

  -webkit-transition: opacity 0.2s, top 0.5s ease-in-out;
  -moz-transition:    opacity 0.2s, top 0.5s ease-in-out;
  -ms-transition:     opacity 0.2s, top 0.5s ease-in-out;
  -o-transition:      opacity 0.2s, top 0.5s ease-in-out;
  transition:         opacity 0.2s, top 0.5s ease-in-out;

  opacity: 0;
}
.will-warp-down {
  top: -600px;
}
.will-warp-up {
  top: 600px;
}

.do-warp-up, .do-warp-down {
  opacity: 1;
  top: 0px;
}
.do-warp-right, .do-warp-left {
  opacity: 1;
  left: 0px;
}

.will-zoom {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition:    all 1s ease-in-out;
  -ms-transition:     all 1s ease-in-out;
  -o-transition:      all 1s ease-in-out;
  transition:         all 1s ease-in-out;

  opacity: 0;

  -webkit-transform: translate3d(0,0,1px) scale(10,10);
  -moz-transform:    translate3d(0,0,1px) scale(10,10);
  -ms-transform:     translate3d(0,0,1px) scale(10,10);
  -o-transform:      translate3d(0,0,1px) scale(10,10);
  transform:         translate3d(0,0,1px) scale(10,10);
}

.do-zoom {
  opacity: 1;

  -webkit-transform: translate3d(0,0,1px) scale(1,1);
  -moz-transform:    translate3d(0,0,1px) scale(1,1);
  -ms-transform:     translate3d(0,0,1px) scale(1,1);
  -o-transform:      translate3d(0,0,1px) scale(1,1);
  transform:         translate3d(0,0,1px) scale(1,1);
}

.has-zoom {
  -webkit-transform: none;
  -moz-transform:    none;
  -ms-transform:     none;
  -o-transform:      none;
  transform:         none;
}


* {margin: 0; padding: 0; border: none; outline: none; box-sizing: border-box;}
ul {list-style: none;}
a, a:link, a:visited, a:focus, a:active {text-decoration: none; color: #fff;}

html {
    font-size: 10px;
}
body{
  background-color: #6f4da3; color:#fff;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.zh {
    font-family: "STHeiti", "Microsoft Yahei";
}
.en { font-family: "Consolas";}
.hv-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.full-page {
    height: 100vh;
    width: 100vw;
}
.text-center { text-align: center;}
.m-lg { margin: 2.4rem;}
.m-md { margin: 1.6rem;}
.m-h-0{ margin-left: 0; margin-right: 0;}
.m-md-h { margin-top: 1.6rem; margin-bottom: 1.6rem;}
.m-sm-h { margin-top: 1.2rem; margin-bottom: 1.2rem;}
.m-sm-h { margin-top: 1.2rem; margin-bottom: 1.2rem;}
.m-sm { margin: 1.2rem;}
.m-xs { margin: 0.8rem;}
.p-sm {padding: 0.8rem;}
.p-md {padding: 1.8rem;}
.fs-xl { font-size: 3.6rem;}
.fs-lg { font-size: 2.4em;}
.fs-md { font-size: 1.6em;}
.fw-normal { font-weight: normal;}
.c-w { color: #fff;}
.c-ef { color: #efefef;}
.alpha { opacity: 0;}
.lh-sm { line-height: 1.5;}

.me-logo {
    height: 22rem;
    width: 22rem;
}
.me-logo img {
    border: 6px solid #fff;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}


.social-block {
    height:72px;
    overflow: hidden;
}
.social-link {
    opacity: 0;
}
.social-link li{
    border-radius: 50%;
    display: inline-block;
    height: 3.2rem;
    margin: 0 0.8rem;
    width: 3.2rem;
    background-color: #eee;
}
.social-link li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.8rem;
}
.social-link li i {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: 100% 100%;
}
.social-link li.github{
    background-color: #fff;
    background-size: 100% 100%;
    background-image: url(../img/github.png);
}
.social-link li.github i{

}

.social-link li.git-oschina{

}
.social-link li.git-oschina i{
    border-radius: 0;
    background-image: url(http://git.oschina.net/logo.gif);
}

.social-link li.blog{
    background-color: #eee;
}
.social-link li.blog i{
    border-radius: 0;
    background-image: url(../img/blog.png);
}

.social-link li.zhihu{
    background-color: #0078d8;
}
.social-link li.zhihu i{
    border-radius: 0;
    background-image: url(http://lext-7.github.io/img/zhihu.png);
}

.social-link li.email{
    background-color: #afb6ca;
}
.social-link li.email i{
    border-radius: 0;
    background-image: url(http://lext-7.github.io/img/mail.png);
}

.technique {
    display: flex;
    > section {
        flex: 1;
        ul {
            list-style: disc;;
        }
    }
}

.project {
    // padding-left: 2.8rem;
    h3 {
        position: relative;
        &:before {
            display: block;
            content: '';
            width: 2.2rem;
            height: 2.2rem;
            border-radius: 50%;
            background-color: #efefef;
            position: absolute;
            top: 0;
            left: -2.8rem;
        }
    }
    a, a:link{
        @extend .c-ef;
    }
    p {
        $dat-size: 1.2rem;
        padding-left: $dat-size + 0.6rem;
        @extend .c-ef;
        @extend .fs-md;
        @extend .m-md;
        @extend .zh;
        position: relative;
        line-height: 2.4rem;
        &:before{
            display: block;
            content: '';
            width: $dat-size;
            height: $dat-size;
            border-radius: 50%;
            background-color: #efefef;
            position: absolute;
            top: 0.6rem;
            left: 0;

        }
    }
}

$animation-delay: 10 20 15 24;
@each $delay in $animation-delay {
  .ad-#{$delay} {
    animation-delay: #{$delay/10}s;
  }
}

.animate .dropdown {
    transition: margin-top 0.8s ease-in-out, opacity 0.8s ease-in-out;
    animation-name: dropdown;
    animation-duration: 2.4s;
}

@keyframes dropdown {
    0% { margin-top: -120px; opacity: 0.4;}
    // 30% {margin-top: -60px;}
    // 60% {margin-top: -50px;}
    100% {margin-top: 0; opacity: 1;}
}


.animate .fade {
    opacity: 0;
    animation-fill-mode: forwards;
    transition: opacify 0.8s ease-in-out;
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


.animate .dropup {
    opacity: 0;
    transition: margin-top 0.8s ease-in-out, opacity 0.8s ease-in-out;
    animation-name: dropup;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

@keyframes dropup {
    0% { margin-top: 72px; opacity: 0.4;}
    100% {margin-top: 0; opacity: 1;}
}

.hint {
    position: fixed;
    width: 220px;
    font-size: 18px;
    line-height: 36px;
    height: 36px;
    background-color: rgba(255,255,255, 0.6);
    color: #444;
    right: 24px;
    bottom: 24px;
    text-align: center;
    border-radius: 4px;
    animation-name: hint;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    transition: opacity 0.8s ease-in-out;
}

@keyframes hint {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0.3;
    }
    40% {opacity: 1;}
    60% { opacity: 0.3;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}
